@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5em;
    line-height: 0.5;
}
h1 {
    font-size: 8em;
    color: white;
}
.showcase video {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;

}
.category {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.category div {   
    flex: 1;
    display: flex;
    align-items: center;
}
h1:hover {
    color: yellow;
}
@media (max-width:600px) {
    .category div {
        width: 100%;
    }
    .category div h1 {
        font-size: 75px;
    }
}
